<!DOCTYPE html>
<html lang="en">
<head>
    <p>Code by Trajon Johnson</p>
</head>
<body class="container">

<header>
    <p>Personal Data: </p>
</header>


<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
        <% if (locals.users) { %>
            <p>First Name: <%= locals.users.results[0].name.first %></p>
            <p>Last Name: <%= locals.users.results[0].name.last %></p>
            <p>Street Number: <%= locals.users.results[0].location.street.number %></p>
            <p>Street Name: <%= locals.users.results[0].location.street.name %></p>
            <p>Zip Code: <%= locals.users.results[0].location.postcode %></p>
            <p>City: <%= locals.users.results[0].location.city %></p>
            <p>State: <%= locals.users.results[0].location.state %></p>
            <p>Country: <%= locals.users.results[0].location.country %></p>
            <p>Local time for the person: <%= locals.users.results[0].location.timezone.offset %></p>
            <% } %>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>
                Personal Information from Users.
            </h3>
        </div>
    </div>

</div>
</main>

<footer>
    <p>This is the footer.</p>
</footer>

</body>
</html>