<!DOCTYPE html>
<html lang="en">
<head>
    <p>Code by Trajon Johnson</p>
</head>
<body class="container">

<header>
    <h1>Personal Data: </h1>
</header>


<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
        <% if (locals.users) { %>
            <p><strong>First Name:</strong> <%= locals.users.results[0].name.first %></p>
            <p><strong>Last Name:</strong> <%= locals.users.results[0].name.last %></p>
            <p><strong>Street Number:</strong> <%= locals.users.results[0].location.street.number %></p>
            <p><strong>Street Name:</strong> <%= locals.users.results[0].location.street.name %></p>
            <p><strong>Zip Code:</strong> <%= locals.users.results[0].location.postcode %></p>
            <p><strong>City:</strong> <%= locals.users.results[0].location.city %></p>
            <p><strong>State:</strong> <%= locals.users.results[0].location.state %></p>
            <p><strong>Country:</strong> <%= locals.users.results[0].location.country %></p>
            <p><strong>Local time for the person:</strong> <%= locals.users.results[0].location.timezone.offset %></p>
            <% } %>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>
                Personal Information from Users.
            </h3>
        </div>
    </div>

</div>
</main>

<footer>
    <p>This is the footer.</p>
</footer>

</body>
</html>